<h5>Logs:</h5>
<ul>
  <% @event_logs.each do |log| %>
    <li>
      ID: <%= link_to log.id, log %> -
      Source IP(<%= log.category(log.source_ip) %>, <%= log.valid_state(log.source_ip) %>): <%= log.source_ip %> -
      Destination IP(<%= log.category(log.dest_ip) %>, <%= log.valid_state(log.dest_ip) %>): <%= log.dest_ip %>
    </li>
  <% end %>
</ul>

<br>
<%= link_to "New Event Log", new_event_log_path %>
